<tr>
  <td><%= product.department.name %></td>
  <td><%= product.name %></td>
  <td><%= product.author %></td>
  <td><%= product.description %></td>
  <td><%= product.price %></td>
  <td><%= product.amount %></td>
  <td>
    <%= link_to "Update", 
        edit_product_path(product),
        class: "btn btn-default" 
    %>
  </td>
  <td>
    <%= button_to "Delete", 
        product, method: :delete , 
        class:"btn btn-danger", 
        data: { confirm: "Are you sure? " } 
    %>
  </td>
<tr>