<!DOCTYPE html>
<html>
  <head>
    <title>Bookstore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= nav_bar brand: "Bookstore", brand_link: root_url do %>
      <%= menu_group do %>
        <%= menu_item "Create new Product", new_product_path %>
        <%= menu_item "Create new Department", new_department_path %>
      <% end %>
      <%= form_tag search_product_path, method: :get, class: "navbar-form navbar-right" do %>
        <div class="form-group">
          <%= text_field_tag :name, @name, class: "form-control" %>
          <%= button_to "Search", nil, class:"btn btn-default" %>
        </div>
      <% end %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
